<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <%= link_to "Waroong", root_path, class: "navbar-brand" %>
  <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>

         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% cache "categories" do %>
            <% @categories.each do |cat| %>
              <%= link_to cat.name.upcase, category_path(cat), class: "dropdown-item" %>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Today's Deals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gift Cards</a>
      </li>
      <%= form_tag(root_path, method: "get", class: "form-inline") do %>
        <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2"%>
      <% end %>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <!--        <a class="nav-link" href="#">Sell on Waroong</a>-->
        <%= link_to "sell on waroong", new_vendor_path, class: "nav-link" unless current_user&.is_vendor? %>
      </li>
      <span class="cart-text">
        <%= render 'layouts/cart_text' %>
      </span>
      <%= render 'layouts/auth' %>
    </ul>
  </div>
</nav>
